/* import { useState } from "react";
import Item from "../components/Item";
import p1 from "../img/p1.jfif?url"
import p2 from "../img/p2.jfif?url"
import p3 from "../img/p3.jfif?url"
import p4 from "../img/p4.jfif?url"
import p5 from "../img/p5.jfif?url"
import p6 from "../img/p6.jfif?url"
// menuData = [
//     {
//       "id": 1,
//       "name": "Pizza Margherita",
//       "price": 10,
//       "description": "A simple pizza with tomato, mozzarella, and fresh basil.",
//       "image": "./img/p1.jfif?url"
//     },
//     {
//       "id": 2,
//       "name": "Pasta Carbonara",
//       "price": 12,
//       "description": "Pasta with creamy sauce, pancetta, and parmesan.",
//       "image": "./img/p2.jfif?url"
//     },
//     {
//       "id": 3,
//       "name": "Caesar Salad",
//       "price": 8,
//       "description": "A salad with romaine lettuce, croutons, and Caesar dressing.",
//       "image": "./img/p3.jfif?url"
//     }
//   ]


  const MenuList = () => {

    return (
        <div className = "menutable">
            <Item id={1} name={"Pizza Margherita"} price={10} decribe={"A simple pizza with tomato, mozzarella, and fresh basil."}
            img={p1}
            ></Item>
            
    
            <Item id={2} name={"Pizza Margherita"} price={10} decribe={"A simple pizza with tomato, mozzarella, and fresh basil."}
            img={p2}
            ></Item>

<Item id={3} name={"Pizza Margherita"} price={10} decribe={"A simple pizza with tomato, mozzarella, and fresh basil."}
        img={p3}
        ></Item>

<Item id={4} name={"Pizza Margherita"} price={10} decribe={"A simple pizza with tomato, mozzarella, and fresh basil."}
        img={p4}
        ></Item>

<Item id={5} name={"Pizza Margherita"} price={10} decribe={"A simple pizza with tomato, mozzarella, and fresh basil."}
        img={p5}
        ></Item>

<Item id={6} name={"Pizza Margherita"} price={10} decribe={"A simple pizza with tomato, mozzarella, and fresh basil."}
        img={p6}
        ></Item>
        </div>
    );
  }
export default MenuList; */



.menutable{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.menutable img{
    border-radius: 20px;

}

.menutable img:hover{
        cursor: pointer;

}

